@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bine ați venit la Pensiunea Valea Morii!</h1>
    <img src="~/images/pensiunea_mea.webp" alt="Pensiunea Valea Morii situată într-o vale pitorească, ideală pentru o escapadă relaxantă în natură" class="img-fluid" />
    <p class="mt-3">Descoperiți frumusețea și confortul pensiunii noastre, un loc perfect pentru relaxare și reconectare cu natura.</p>
</div>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
