@page
@model PensiuneaMea.Pages.Pensiuni.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Pensiune</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Pensiune.Title" class="control-label"></label>
                <input asp-for="Pensiune.Title" class="form-control" />
                <span asp-validation-for="Pensiune.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pensiune.Camera" class="control-label"></label>
                <input asp-for="Pensiune.Camera" class="form-control" />
                <span asp-validation-for="Pensiune.Camera" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pensiune.Price" class="control-label"></label>
                <input asp-for="Pensiune.Price" class="form-control" />
                <span asp-validation-for="Pensiune.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pensiune.PublishingDate" class="control-label"></label>
                <input asp-for="Pensiune.PublishingDate" class="form-control" />
                <span asp-validation-for="Pensiune.PublishingDate" class="text-danger"></span>
            </div>
            <div class="form-group"> <label asp-for="Pensiune.PublisherID" class="control-label">Publisher Name</label> <select asp-for="Pensiune" .PublisherID" class="form-control" asp-items="ViewBag.PublisherID"> </select> <span asp-validation-for="Pensiune.PublisherID" class="text-danger"></span> </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

